# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# PyInstaller
*.manifest
*.spec
dist/
build/
*.exe

# Docker
*.log
*.pid
*.seed
*.pid.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
*.mp3
!src/assets/*.mp3  # Keep the original mp3